* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #f6f6f6;
}
.container {
    display: flex;
    width: 100%;
}
.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0px;
    height: 100vh;
    width: 300px;
    background-color: #f8faff;
    overflow-y: auto;
    z-index: 1;
    transition: width 1s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sidebar > a {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
}
.sidebar a img {
    width: 230px;
}
.menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

.menu li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: #333;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: background 0.3s;
}

.menu li a:hover {
    background-color: #0b70fe;
}
.menu li .fa {
    padding-right: 10px;
}
.main {
    width: 100%;
    margin-left: 300px;
    transition: margin-left 1s;
}
.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
}
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    left: 30px;
    font-size: 20px;
}
.dashboard span {
    background-color: black;
    height: 3px;
    width: 40px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.searchbar {
    display: flex;
}
.search {
    position: relative;
    display: flex;
}
.search input[type="text"] {
    background-color: #f8faff;
    padding: 15px 10px;
    width: 400px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.search input[type="text"]::placeholder {
    color: #95979d;
}
.search button {
    position: absolute;
    top: 14px;
    right: 10px;
    color: #95979d;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.logout {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.logout a i {
    margin-right: 5px;
    font-size: 30px;
}
.logout a {
    text-decoration: none;
    color: #333;
}
.logout a:hover {
    color: #0b70fe;
}

.main_content {
    padding: 30px;
}
