body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #f6f6f6;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Ensure the container takes full height */
}

.main {
    width: 100%;
    margin-left: 300px;
    transition: margin-left 1s;
    overflow-y: auto; /* Enable vertical scrolling */
}

.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    background-color: #ffffff;
}
.topbar span {
    margin-right: auto;
    font-size: 19px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.dashboard span {
    background-color: black;
    height: 3px;
    width: 40px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* DashBoard */

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main_dash {
    padding: 30px;
}

.dash_intro {
    margin: 0px 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.single-show {
    position: relative;
    padding: 30px;
    flex: 1 1 30%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.single-show .top_dis {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_dis i {
    font-size: 25px;
}

.single-show > h2 {
    padding-left: 30px;
    font-weight: 100;
}

.chart-container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.canva-container {
    padding: 70px;
    margin: 15px 70px 0px 70px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.canva-container h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.chart-container canvas {
    flex: 1 1 45%;
    min-width: calc(50% - 60px);
    min-height: 400px;
    box-sizing: border-box;
    /* Ensure padding and border are included in the width/height */
}

@media screen and (max-width: 1100px) {
    .dash_intro {
        margin: 0px;
        flex-direction: row;
        /* Ensure items are in rows */
    }

    .single-show {
        flex: 1 1 45%;
        /* Adjust to take 45% of the width for 2 items per row */
    }

    .single-show h2 {
        font-size: 20px;
    }

    .single-show .top_dis i {
        font-size: 20px;
    }

    .canva-container {
        padding: 20px;
        margin: 20px 0px 0px 0px;
    }
}

/* DashBoard */

.searchbar {
    display: flex;
}

.search {
    display: none;
    position: relative;
    display: flex;
}

.search input[type="text"] {
    background-color: #f8faff;
    padding: 10px;
    width: 400px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.search input[type="text"]::placeholder {
    color: #95979d;
}

.search button {
    position: absolute;
    top: 14px;
    right: 10px;
    color: #95979d;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.logout {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout a i {
    margin-right: 5px;
    font-size: 30px;
}

.logout a {
    text-decoration: none;
    color: #333;
}

.logout a:hover {
    color: #0b70fe;
}

.main_content {
    padding: 30px;
}

.table_display {
    padding: 40px 100px 40px 100px;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table_header h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.assign-user a {
    padding: 10px 20px;
    background-color: #0b70fe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #fff;
}

table th,
table td {
    padding: 25px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table th {
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}
table td button {
    margin-left: 10px;
}

table td a,
table td button {
    padding: 14px 20px;
    background-color: #0b70fe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}
table img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
}

table td form button {
    background-color: #dc3545;
}
table td button {
    background-color: #44ec68;
}

table td a:hover,
table td button:hover {
    opacity: 0.8;
}

.user_search {
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #ffffff;
}

.user_search span {
    margin-right: auto;
    font-size: 19px;
}

.user_search input[type="text"] {
    background-color: #f8faff;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.user_search button {
    padding: 10px 15px;
    background-color: #0b70fe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.user_search a {
    padding: 10px 15px;
    background-color: #0b70fe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.add-user {
    position: relative;
    margin: 0px 100px 40px 100px;
    padding: 50px;
    background-color: #ffffff;
}

.add-user form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-user h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.add-user label {
    display: block;
    padding: 7px 12px 12px 5px;
}

.add-user input,
.add-user select {
    padding: 17px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #f8faff;
}

/* Add select styles for the assign page only */
#assign {
    font-size: 18px;
}

option {
    font-size: 18px;
}

.add-user button {
    padding: 20px;
    background-color: #0b70fe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.mbar span {
    display: none;
}

.update_topic {
    padding: 30px 100px;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
}
.pagination ul {
    display: flex;
    color: #007bff; /* Adding a blue color to the text */
}
.pagination ul li {
    list-style: none;
    margin: 5px;
}
.pagination ul li a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}
.pagination ul li a:hover {
    background-color: #007bff;
    color: #fff;
}
.pagination ul li.active a {
    background-color: #007bff;
    color: #fff;
    pointer-events: none;
}
.pagination ul li.disabled a {
    color: #ccc;
    pointer-events: none;
}
/* Pagination styles */

.actiontd {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 1100px) {
    .user_search {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
    .user_search input[type="text"] {
        width: 230px;
    }
    .user_search form a {
        display: flex;
    }
    .table_display {
        overflow-x: auto;
        padding: 20px 20px 60px 20px;
        position: relative;
    }
    .add-user {
        margin: 0px;
    }
    .actiontd {
        padding: 40px;
        display: flex;
        gap: 10px;
    }
    .mbar span {
        display: block;
        cursor: pointer;
    }
}
