* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.desktop_nav {
    display: flex;
    top: 0px;
    position: sticky;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    background-color: white;
    padding-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo {
    position: absolute;
    left: 5%;
    top: 0px;
    width: 17%;
    height: 100%;
}
.logo img {
    width: 100%;
    height: 100%;
}
.desktop_nav ul {
    display: flex;
    justify-content: space-between;
}
.desktop_nav ul li {
    list-style: none;
    padding: 30px;
}
.desktop_nav ul li a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #333;
    transition: all 0.5s;
}
.desktop_nav ul li a:hover {
    color: #0b70fe;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu .bar {
    width: 40px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s;
}
.Login_btn {
    color: #0b70fe;
    padding: 10px 20px;
    border: 1px solid #0b70fe;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    margin-left: 20px;
    text-decoration: none;
    transition: all 1s;
}
.Login_btn:hover {
    background-color: #0b70fe;
    color: white;
}

.mobile_nav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    z-index: 20;
}
.mobile_nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.mobile_nav ul li {
    text-align: right;
    width: 100%;
    list-style: none;
    padding: 30px;
}
.mobile_nav ul li a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #333;
    transition: all 0.5s;
}
.mobile_nav ul li:last-child {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mobile_nav ul li a:hover {
    color: #0b70fe;
    text-decoration: underline;
    text-underline-offset: 7px;
}

@media (max-width: 1200px) {
    .desktop_nav {
        border-bottom: 1px solid #333;
    }
    .logo {
        width: 40%;
    }
    .menu,
    .menu_active {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px 0px;
    }
    .desktop_nav ul,
    .Login_btn {
        display: none;
    }
}

@media (max-width: 500px) {
    .logo {
        left: 1%;
        width: 60%;
    }
    .menu,
    .menu_active {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px 0px;
    }
    .desktop_nav ul,
    .Login_btn {
        display: none;
    }
}
.menu_active {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu_active .bar {
    width: 40px;
    height: 3px;
    background-color: #333;
    transition: all 0.3s;
}
/* Hamburger Menu Style */
.menu_active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.menu_active .bar:nth-child(2) {
    opacity: 0;
}
.menu_active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/*  Admin Navigation  */
.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0px;
    height: 100vh;
    width: 300px;
    background-color: #f8faff;
    overflow-y: auto;
    z-index: 1;
    transition: width 1s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sidebar > a {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
}
.sidebar a img {
    width: 230px;
}
.admin_menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

.admin_menu li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: #333;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: background 0.3s;
}

.admin_menu li a:hover {
    background-color: #0b70fe;
}
.admin_menu li .fa {
    padding-right: 10px;
}
