* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-box {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 30%;
    top: 0;
    left: 35%;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-box button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .error-box {
        width: 100%;
        left: 0;
    }
}
